<div class="container">
  <div class="text-center mx-auto row">
    <div class="col mt-4">
      <h3>
        Movie was successfully added/deleted
      </h3>
    </div>
  </div>
  <div class="text-center mx-auto row">
    <div class="col mt-4">
      <a routerLink="/movies">
        Go to movies section
      </a>
    </div>
  </div>
  <div class="text-center mx-auto row">
    <div class="col mt-4">
      <a routerLink="/recommendations">
        Go to App
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
