<form class="form-inline mt-5" (ngSubmit)="onAdd(form)" #form="ngForm">
  <input #searchedMovie="ngModel" ngModel type="text" class="form-control form-control-lg" name="searchedMovie" placeholder="Add movie to database..." style="width: 70%" required>
  <button type="submit" class="btn btn-primary btn-lg" style="width: 30%">Add</button>
</form>

<table *ngIf="movies.length > 0" class="table table-striped mt-5 col-12">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Votes</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.title }}</td>
      <td>{{ movie.votes }}</td>
      <td>
        <button (click)="onDelete(movie._id)" class="btn btn-danger" title="Delete"><i class="fa fa-fw fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
